:root {
  --red: #e10b0b;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

header .container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--red);
  font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
  font-size: 18px;
}

header nav a:hover {
  color: #fff;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
}

/* Main movie */
.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, .60),rgba(0, 0, 0, .60) 100%), url('../img/house-off-cards.jpeg');
  height: 700px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .container {
  width: 70%;
}

.title {
  margin-top: 10%;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-movie .description {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 18px;
  margin-top: 1.5rem;
}

.button {
  background-color: rgba(0,0,0, .50);
  border: none;
  color: #Fff;
  padding: 15px 30px;
  cursor: pointer;
  margin-right: 15px;
  font-size: 14px;
  transition: .3s ease all;
}

.button:hover {
  background-color: #fff;
  color: var(--black);
}

.button i {
  margin-right: 8px;
}

.box-movie {
  width: 100%;
  height: 100%;
  display: block;
}

.carousel-movies {
  margin-top: 5px;
}


